#habriaGanadoDiv {
  float:right;
  height: 16px;
  font-family: AkkuratPro;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #595959;
  display: none;
}
